 #todo-app > section.list-and-form-container {
  @include transition(all, .25s, ease, 0);

  background-color: $white;
  left: -100%;
  height: 100vh;
  position: absolute;
  top: 121px;
  width: 100%;
  z-index: $z-menu;

  &.active {
    left: 0;
  }
}

