/*—————————————————————————————————————————
*****************Colors********************
——————————————————————————————————————————*/
// gray scale

$white         : #ffffff !default;
$ghost         : #fafafa !default;
$snow          : #f9f9f9 !default;
$vapor         : #f6f6f6 !default;
$white-smoke   : #f5f5f5 !default;
$silver        : #efefef !default;
$smoke         : #eeeeee !default;
$gainsboro     : #dddddd !default;
$iron          : #cccccc !default;
$base          : #aaaaaa !default;
$aluminum      : #999999 !default;
$jumbo         : #888888 !default;
$monsoon       : #777777 !default;
$steel         : #666666 !default;
$charcoal      : #555555 !default;
$tuatara       : #444444 !default;
$oil           : #333333 !default;
$jet           : #222222 !default;
$black         : #000000 !default;

$primary-color: #008cba !default;   // bondi-blue
$secondary-color: #e7e7e7 !default; // white-lilac
$alert-color: #f04124 !default;     // cinnabar
$success-color: #43ac6a !default;   // sea-green
$warning-color: #f08a24 !default;   // carrot
$info-color: #a0d3e8 !default;      // cornflower

$darkblue: #193549;
$lightblue: #0088ff;
$yellow: #3ad900;
$lightyellow: #9eff80;
$orange: #ff9d00;
$lightgreen: #80ffbb;
$pink: #ff628c;
$codewhite: #e1efff;

$z-nav: 10;


/*——————————————————————————————————————————
***************TYPOGRAPHY*****************
——————————————————————————————————————————*/
$font-family-sans-serif: 'ff-meta-web-pro';
$font-family-serif: 'ff-tisa-web-pro';

