.form-container {
  background-color: $primary-color;
}

input, select, textarea, button{font-family:$header-font;}

input {
  @include transition(all, 0.25s, ease, 0);
}


a.button,
input[type=submit],
button,
button[type=submit],
.btn {
  @include button($primary-color, $white, 0px);
  @include transition(all, .25s, ease, 0s);

  border: 0;

  &.success { @include button($success-color, $white, 4px); }
  &.info { @include button($info-color, $white, 4px); }
  &.warning { @include button($warning-color, $white, 4px); }
  &.alert { @include button($alert-color, $white, 4px); }
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"] {
  font-family: $header-font;
  font-size: $large-font-size;
}

label {
  font-family: $body-font;
  display: block;
}

form {
  &:invalid{ border:none; }
  &:valid{ border:none; }
  h5 { color: $lightgreen; }
  div.form-group {
    position: relative;

    label {
      @include transition(all,0.25s,ease-out,0);
      bottom: 0;
      color: $lightgreen;
      font-family: $font-family-serif;
      font-size: $xxlarge-font-size;
      height: 40px;
      left: 0;
      opacity: 0.2;
      overflow: hidden;
      position: absolute;
      text-align: left;
      top: 10px;
      width: 100%;
      z-index: $z-body;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      -ms-appearance: none;
      background: none;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $lightgreen;
      box-sizing: border-box;
      color: $yellow;
      font-family: $font-family-serif;
      font-size: $xlarge-font-size;
      height: 50px;
      outline: solid transparent;
      padding: 0 5px;
      position: relative;
      width: 100%;
      z-index: $z-contact-form-input;

      &:focus + label,
      &:valid + label {
        top: 100%;
        left: 0;
        font-size: 1em;
      }
      &:not(:focus):valid {
        background: none;
      }
      &:focus:valid {
        background: none;
      }

      &:not(:focus) {
        background: linear-gradient(to top, #000 -15%,transparent 15%);
      }

      &:not(:focus):invalid + label {
        &:after {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 40px;
          content: ' required';
          color: $pink;
        }
      }
    }

    textarea#post-body-textarea {
      box-sizing: border-box;
      background: $darkblue;
      border: none;
      width: 100%;
      max-width: 100%;
      min-height: 300px;
      border: 1px solid $lightgreen;
      border-radius: 4px;
      overflow: auto;
      margin-top: 30px;
      padding: 5px;
      font-family: $header-font;
      font-size: $large-font-size;
      color: $codewhite;
    }

    input[type="submit"],
    button[type='submit'] {
      background-color: none;
      border: 1px solid $lightgreen;
      color: $lightgreen;
      box-sizing: border-box;
      display: block;
      margin: 0;
      margin-top: 40px;
      opacity: 1;
      width: 100%;

      &:hover {
        background: $lightgreen;
        color: $darkblue;
      }

      &[disabled="disabled"] {
        cursor: not-allowed;
        opacity: 0.2;
      }
    }
  }

  &.user-attributes {

    .form-group {
      label {
        top: 28px;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"] {
        padding: 0 5px 5px 10px;

        &:focus + label {
          top: 100%;
        }
        &:valid + label {
          top: 28px;
        }
      }
    }

  }
}

#logoutForm {
  @include defaults();
  @include flexbox();
  @include flex-flow(row);
  @include flex-justify(space-between);
  @include flex-align-items(baseline);

  & {
    padding: 0 0 0 1em;
  }

  input[type=submit] {
    border-radius: 0;
    float: right;
    margin: 0;
    background-color: $warning-color;
  }
}
