.navbar {
  @include defaults();
  @include flexbox();
  @include flex-flow(column);

  .nav-list {
    @include defaults();
    @include flexbox();
    @include flex-flow(row);
    background-color: $primary-color;
    color: $white;
    list-style: none;

    li {
      @include flex(1 0 0);

      a, form {
        @include flex(1 0 0);
        color: $white;
        display: block;
        font-family: $font-family-sans-serif;
        text-align: center;
      }

      a {
        padding: 0 1em;
      }

      &.spacer {
        @include flex(3 0 0);
      }
    }

    &.links {
      background-color: $charcoal;
      font-size: 1.5em;
      line-height: 2;

      a {
        &.home {}
        &.settings {}
      }
    }

    &.auth {
      font-size: .9em;

      a {
        border-right: 1px solid $secondary-color;
        display: inline-block;
        line-height: 3;
      }
    }
  }
}
