.navbar {
  @include defaults();
  @include flexbox();
  @include flex-flow(column);

  .nav-list {
    @include defaults();
    @include flexbox();
    @include flex-flow(row);
    @include flex-justify(space-between);
    background-color: $primary-color;
    border-bottom: 2px solid $orange;
    color: $white;
    list-style: none;

    li {
      @include flex(1 0 0);

      a, form {
        @include flex(1 0 0);
        color: $white;
        display: inline-block;
        font-family: $font-family-sans-serif;
        text-align: center;
      }

      a {
        padding: 0 1em;

        &.settings {
          float: right;
        }
      }
    }

    &.links {
      background-color: $iron;
      font-size: 1.5em;
      line-height: 3;

      a {
        &.home {}
        &.settings {}
      }
    }

    &.auth {
      @include flex-justify(space-between);
      font-size: .9em;

      a {
        border-right: 1px solid $secondary-color;
        display: inline-block;
        line-height: 3;
      }
    }
  }
}
