section.todo-list-container {
  font-family: $font-family-sans-serif;

  header {
    padding: .25em .5em;

    h2 {
      font-family: $font-family-serif;
      font-weight: 400;
      margin: 0 auto;
      text-align: center;

      small {
        display: block;
        font-weight: 400;
      }
    }
  }

  p {
    span.archive-span {
      display: inline;
      a {
        // @include button($button-tny,$secondary-color,4px);
      }
    }
  }
}

ul.todo-lists {
  @include defaults();
  @include flexbox();
  @include flex-flow(column);
  background-color: $primary-color;

  li {
    @include defaults();
    @include flexbox();
    @include flex-flow(row);
    @include flex-justify(space-between);

    a, span {
      color: $white;
      font-family: $font-family-serif;
      font-size: $large-font-size;
      text-decoration: none;
    }

    a {
      &.active {
        color: $yellow;
      }
    }
  }
}
